<!--dashboard proyectos-->
<!--se agrega el form y se crea ngsubmit=onsubmit y formgroup=proyecform y despues proyecform se declara en el modal-proyecto.ts-->
<form (ngSubmit)="onEnviar($event)" [formGroup]="proyecForm" >
    <div class="row">
        <div class="col-9-sm">
            <h4 class="text-center"><b>Proyectos</b></h4>

             <!-- boton PEN-->
                    
                        
             <li type="button" class="list-group-item mt-4
             mb-4 itemPenColor" data-bs-toggle="modal" data-bs-target="#proyectoModalpen"> <i
                   class="fa-sharp fa-solid fa-pen"></i></li>
       

            <div class="mb-3">
                <label for="formFileSm" class="form-label">Nombre Proyecto</label>
                <!--formControlName hace pedir nombre requerido y placeholder pide ingrese Nombre-->
                <input class="form-control form-control-sm" id="formFileSm" type="text" required
                    formControlName="nombre" placeholder="Ingrese Nombre......" [(ngModel)]="nombre">
                <!--formulario reactivo-->
                <div *ngIf="proyecForm.get('nombre')?.touched && proyecForm.get('nombre')?.errors?.['required'] "
                    class="alert alert-danger"> nombre requerido.</div>
            </div>

            <br>

            <div class="mb-3" >
                <label for="formFileSm" class="form-label">Imagen</label>
                <!--formControlName pide: imagen requerida-->
                <input  alt="" (change)="capturarFile($event)" class="form-control form-control-sm" id="formFileSm" type="file" formControlName="imagen" [(ngModel)]="imagen">
                <!--para ver la imagen-->
                <div *ngIf="previsualizacion">
                    <img width="150px" [src]="previsualizacion" alt="">
                </div>
                <!--formulario reactivo-->
                <div  *ngIf="proyecForm.get('imagen')?.touched && proyecForm.get('imagen')?.errors?.['required'] "
                    class="alert alert-danger"> Imagen requerida.</div>
            </div>

            <br>

            <div class="mb-3">
                <label for="inicio" text="center">Fecha del Proyecto <small></small></label>
                <div class="calendario">
                    <input type="date" id="inicio" name="inicio" class="sm-form-control" formControlName="fecha" [(ngModel)]="fecha">
                </div>
            </div>

            <br>

            <div class="mb-3">
                <label for="formFileSm" class="form-label">Url</label>
                <!--formControlName pide: Url requerida y placeholder pide ingrese Url-->
                <input class="form-control form-control-sm" id="formFileSm" type="text" required formControlName="url"
                    placeholder="Ingrese Url......" [(ngModel)]="url">
                <!--formulario reactivo-->
                <div *ngIf="proyecForm.get('url')?.touched && proyecForm.get('url')?.errors?.['required'] "
                    class="alert alert-danger"> Url Requerida.</div>
            </div>

            <br>

            <div class="mb-3">
                <label for="formFileSm" class="form-label">Descripción</label>
                <!--formControlName pide: Descripcion requerida y placeholder pide ingrese Proyecto-->
                <textarea class="form-control" name="comment" id="comment" rows="4" placeholder="Ingrese Proyecto......"
                    formControlName="descripcion" required [(ngModel)]="descripcion"></textarea>
                 <!--formularios reactivos-->
                    <div *ngIf="proyecForm.get('descripcion')?.touched && proyecForm.get('descripcion')?.errors?.['required'] "
                    class="alert alert-danger"> Descripcion Requerida.</div>
            </div>

            <div class="mb-3 ">
                <ul class="list-group list-group-horizontal ">
                    <li class="list-group-item"><button type="button" (click)="limpiar()"
                            class="btn btn-outline-primary mt-2" title="limpiar" data>Cancelar</button></li>
                    <li class="list-group-item"> <button type="submit" class="btn btn-outline-primary mt-2"
                            title="guardar">Guardar</button></li>
                </ul>
            </div>
        </div>
    </div>
</form>
<app-editar-proyecto></app-editar-proyecto>