#habilidadModalpen{
    background-color: rgba(78, 18, 38, 0.164);
    backdrop-filter: blur(0.75rem) saturate(90%) brightness(120%);
    --bs-modal-width: 37.5rem;
    --bs-modal-padding: 1rem;
}

.modal-header{
    border:none;
} 

.btn-close{
    font-size: 0.938rem;
}

.btn-close:focus{
    border-style:none;
    box-shadow: none;
}

.modal-content{
    background: rgba(137, 205, 183, 0.418);
    backdrop-filter: blur(0.938rem);
    box-shadow: 0 0 1.875rem rgba(105, 102, 102, 0);
}

.modal-title{
    font-size: 1.75rem;
}

.modal-body{
    font-size: 1.25rem;
}

.form-control{
    font-size: 1.125rem;
}

.modal-footer{
    border:none;
}

.btn{
    background: rgba(137, 205, 183, 0.418);
    color: rgb(25, 74, 189);
    border-radius: 2.5rem;
    border: none;
    padding: 0.625rem;
    font-size: 1.25rem;
    font-weight: bold;
    width: 50%;
}

.btn:hover{
    background: rgb(25, 74, 189);
    color: white;
    transform: scale(1.05);
    transition: 0.5s;
}

@media(max-width: 48rem){
    .modal-content{
        margin: 2.188rem;
    }

    .modal-title{
        font-size: 1.563rem;
    }

    /*aca va lo del boton close*/
    .btn-close{
        font-size: 0.625rem;
        margin-top: -0.625rem;
    }
    
    .form-control{
        font-size: 1.125rem;
    }

    .btn{
        font-size: 0.938rem;
        width: 40%;
    }
}