<!-- Modal   PEN de PROYECTO-->
<div class="modal fade" id="proyectoModalpen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">EXPERIENCIA</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <form [formGroup]="proyecForm" name="proyectoform">
          <div class="modal-body">
  
            <ul class="p-0">
              <li *ngFor="let proyecto of proyectos" class="d-flex justify-content-between align-items-center m-1 ">
                <span>{{proyecto.id}}. {{proyecto.nombre|uppercase}}</span>
                <span class="d-flex justify-content-between gap-2">
                  <!--lapicito rojo que se cambia al tocarlo-->
                  <button type="button" class="btn btn-sm btn-outline-success pl-1 pr-1 m-0"
                    (click)="cargarDetalle(proyecto.id)">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <!--Tachico de Basura que se hace fondo rojo al tocarlo-->
                  <button type="button" class="btn btn-sm btn-outline-danger pl-1 pr-1 m-0"
                    (click)="borrar(proyecto.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </span>
              </li>
            </ul>
            <!--esto es la validacion  renderizado condicional-->
            <div class="input-group mb-3 bg-light" *ngIf="!!proyecForm.value.id">
              <div class="input-group-prepend border-0">
                <span class="input-group-text border-0" id="basic-addon1">ID:</span>
              </div>
              <input class="form-control outline-none border-0 bg-transparent" type="text" readonly formControlName="id">
            </div>
  
  
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="campo obligatorio" formControlName="nombre"
                [ngClass]="{'is-invalid': proyecForm.get('nombre')?.errors && proyecForm.get('nombre')?.touched, 'is-valid': proyecForm.get('nombre')?.errors && proyecForm.get('nombre')?.touched}">
              <p class="text-danger" *ngIf="proyecForm.get('nombre')?.touched && proyecForm.get('nombre')?.errors?.['required']">
                El Nombre  es requerido.
              </p>
            </div>

            <div class="mb-3">
                <label for="imagen" class="form-label">Imgen</label>
                <input type="text" class="form-control" id="imagen" formControlName="imagen" placeholder="campo obligatorio"
                  [ngClass]="{'is-invalid': proyecForm.get('imagen')?.errors && proyecForm.get('imagen')?.touched, 'is-valid': proyecForm.get('imagen')?.errors && proyecForm.get('imagen')?.touched}">
                <p class="text-danger" *ngIf="proyecForm.get('imagen')?.touched && proyecForm.get('imagen')?.errors?.['required']">
                  La Url es requerida!!!
                </p>
              </div>

              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha </label>
                <input type="fecha" class="form-control" id="fecha" placeholder="Ingrese Fecha" formControlName="fecha">
              </div>

              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion </label>
                <input type="text" class="form-control" id="descripcion" formControlName="descripcion" placeholder="campo obligatorio"
                  [ngClass]="{'is-invalid': proyecForm.get('descripcion')?.errors && proyecForm.get('descripcion')?.touched, 'is-valid': proyecForm.get('descripcion')?.errors && proyecForm.get('descripcion')?.touched}">
                <p class="text-danger" *ngIf="proyecForm.get('descripcion')?.touched && proyecForm.get('descripcion')?.errors?.['required']">
                 Descripcion requerida!!!
                </p>
              </div>
  
            <div class="mb-3">
              <label for="url" class="form-label">Url</label>
              <input type="text" class="form-control" id="url" formControlName="url" placeholder="campo obligatorio"
                [ngClass]="{'is-invalid': proyecForm.get('url')?.errors && proyecForm.get('url')?.touched, 'is-valid': proyecForm.get('url')?.errors && proyecForm.get('url')?.touched}">
              <p class="text-danger" *ngIf="proyecForm.get('url')?.touched && proyecForm.get('url')?.errors?.['required']">
                Url del proyecto!
              </p>
            </div>      
  
            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="proyecForm.reset()">RESET</button>
              <button class="btn btn-secondary" (click)="guardar()" >GUARDAR DATOS</button>
            </div>
          </div>
        </form>
      </div>
    </div>
